.imgStyle {
    width: 100%;
    vertical-align: middle;
    object-fit: cover;

}

.iconStyle1 {
    display: inline;
    vertical-align: middle;
    object-fit: cover;
    color: white;
    
}
.iconStyle2 {
    display: inline;
    vertical-align: top;
    object-fit: cover;
    color: white;
    
}

.iconStyle2:hover{
    color: rgb(187, 186, 186);
    cursor: pointer;
    text-shadow: gray;

}
.countStyle {
    display:inline;
    font-size: 1.25vw;
    font-weight: bold;
    object-fit: cover;
    color: white;
}

