.centerStyle1{

    min-height: 150px ;
}
.back{
    background-image: url("../img/chase-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 80%;
    box-shadow: 0 0 20px 20px white inset;
    
}

